body{
	margin:0;
	padding:0;
	background-color:white;
	font-family:Arial,Sans-Sarif;
	color:black;
}

header{
	   display:flex;
	   justify-content:space=between;
	   background-color:black;
	   color:white;
	   padding:15px 20px;
	   align-items:center;
}

nav ul{
	   list-style:none;
	   padding:0;
}

nav ul li{
	      display:inline;
}

nav ul li a{
	       color:white;
		   text-decoration:none;
}

nav ul li .active{
	             font-weight:bold;
				 border-bottom:2px solid orange;
}

.container{
	       width:1230px;
		   margin:20px auto;
		   display:flex;
}

.sidebar{
	     width:25%;
		 background-color:white;
		 padding:20px;
		 text-align:center;
		 border-radius:10px
}

.main-content{
	          width:50%;
			  padding:20px;
			  border-radius:10px;
			  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
.sidebar h2,h3{
            color:black;
}
.sidebar img{
	         width:100%;
			 border-radius:8px;
			 margin:10px 0;
}

.sidebar p{
	       font-size:14px
}

.sidebar a{
	       color:orange;
		   text-decoration:none;
		   font-weight:bold;
}

.main-content{
	          width:50%;
			  background-color:white;
			  padding:20px;
			  border-radius:10px;
			  box-shadow:0px 0px 10px rgba(0,0,0,0,1);
}

footer{
	   background:color #333;
	   color:white;
	   text-align:center;
	   padding:15px;
	   margin-top:20px
}

/*Tablets*/
@media screen and (max-width:768px)
{
.sidebar{
	     width:25%;

}

.main-content{ 
	          width:90%;
}

.container{
	       flex-direction:column;
		   align-items:center;
}
.sidebar img{
	         width:100%;
}
}

/*Smartphones*/
@media screen and (max-width:468;)
{
header{
       flex-direction:column;
	   text-align:center;
}

nav ul li{
	      display:block;
}

.container{
	       flex-direction:column;
		   align-items:center;

}
.sidebar,.main-container {
	      width:100%;
}
.sidebar img{
	         width:100%;
}
}


			  
			  